<header>
  <div class="navbar">
      <img src="/assets/education.svg" style="margin-left: 30px;">
      <a class="active" href="#">BOOK STORE</a>
    </div>
</header> 
<div style="margin-top: 10%; ">
  <div class="container"><br>
      <div>
      <label class="head-text">SIGN IN</label><br><br>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf = "!forgotpass">
        <div class="example-container " >
          <mat-form-field class="mat-form-field-infix"  appearance="outline">
            <mat-label>Enter your email</mat-label>
               <input matInput placeholder="pat@example.com" formControlName="username" required>
             </mat-form-field>
    
            <mat-form-field style="width: 300px;" appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput  formControlName="password">
          </mat-form-field><br>
          <div style="margin-left: 5%;">
              <mat-checkbox class="example-margin" >Remember Me</mat-checkbox>
              <a  style="margin-left: 40px;; color: rgb(67, 113, 238); text-decoration: none;" routerLink="/forgotpassword"> Forgot Password !</a>
          </div><br>
          <button type="submit" style="width: 40%; margin-left: 20%;"class="btn btn-primary btn-lg login-button">LOGIN</button><br><br>
          <p style="margin-left:20%; ">Not a member?
            <a href="" [routerLink]="['/register']" routerLinkActive="router-link-active" style="color: rgb(67, 113, 238); text-decoration: none; margin-left: 5px;">Register</a>
          </p>
        </div>
      </form>
      
    </div>
      <br>
    </div>
    </div>
