
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
</head>
<body background="linear-grideant" link="#000" alink="#017bf5" vlink="#000">
	<br />
	<h3 align="center">
	
	</h3>
	<br />
	<h1 >
		<font face="Lato" color="#017bf5"   size="7" >
			Welcome To BookStore Application
		</font>
	</h1>
	
	<br />
	<h3 align="center">
	<a href="register">
		<font face="Lato" color="017bf5">SignUP</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	
	</h3>
    <h3 align="middle">
        <a href="login">
            <font face="Lato" color="017bf5">SignIN</font>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        
        </h3>
</body>
</html>