
<div class="container" >
      <form [formGroup]="formGroup" >
        <h1 class="h2 mb-2 head" >Forgot password</h1>
      <mat-form-field  class="mat-form-field-infix"  appearance="outline">
        <mat-label>Enter your email</mat-label>
           <input matInput placeholder="pat@example.com" formControlName="username" required>
         </mat-form-field>
  
        <mat-form-field class="mat-form-field-infix"  style="width: 300px" appearance="outline">
            <mat-label>Enter new password</mat-label>
            <input type="password" matInput  formControlName="password">
      </mat-form-field>
      <button type="submit" class="btn btn-primary btn-lg login-button ">SUBMIT</button><br><br> 
      </form>
</div>
       
